<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/user']">
        <img src="./assets/images/home.png" width="60" height="60" class="d-inline-block align-top" alt="">
    </a>
    <a (click)="logout()">Log Out</a>
</nav>
<div class="alert alert-primary text-center">{{message}}</div>
<div class="tttContainer">

    <div class="tttGameBoard" *ngIf="game.gameBoard">
      
    
      <div class="ttt-row">
        <div class="ttt" (click)="updateBoard(0,0)">{{game.gameBoard[0][0]}}</div>
        <div class="ttt" (click)="updateBoard(0,1)">{{game.gameBoard[0][1]}}</div>
        <div class="ttt" (click)="updateBoard(0,2)">{{game.gameBoard[0][2]}}</div>
      </div>
      <div class="ttt-row">
        <div class="ttt" (click)="updateBoard(1,0)">{{game.gameBoard[1][0]}}</div>
        <div class="ttt" (click)="updateBoard(1,1)">{{game.gameBoard[1][1]}}</div>
        <div class="ttt" (click)="updateBoard(1,2)">{{game.gameBoard[1][2]}}</div>
      </div>
      
        <div class="ttt-row">
        <div class="ttt" (click)="updateBoard(2,0)">{{game.gameBoard[2][0]}}</div>
        <div class="ttt" (click)="updateBoard(2,1)">{{game.gameBoard[2][1]}}</div>
        <div class="ttt" (click)="updateBoard(2,2)">{{game.gameBoard[2][2]}}</div>
      </div>
     
        </div>

</div>
<app-chat></app-chat>