<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/user']">
        <img src="./assets/images/home.png" width="60" height="60" class="d-inline-block align-top" alt="">
    </a>
    <a (click)="logout()">Log Out</a>
</nav>
<div>{{message}}</div>
<p>{{game.turn}}</p>
<div class="tttContainer">
  <!-- <div class="tttGameBoard">
    <div class="ttt border-right" (click)="updateBoard(0,0)">{{game.gameBoard[0][0]}}</div>
    <div class="ttt" (click)="updateBoard(0,1)">{{game.gameBoard[0][1]}}</div>
    <div class="ttt border-left" (click)="updateBoard(0,2)">{{game.gameBoard[0][2]}}</div>
    <br>
    <div class="ttt border-top border-bottom" (click)="updateBoard(1,0)">{{game.gameBoard[1][0]}}</div>
    <div class="ttt border-right border-top border-left border-bottom" (click)="updateBoard(1,1)">{{game.gameBoard[1][1]}}</div>
    <div class="ttt border-top border-bottom" (click)="updateBoard(1,0)">{{game.gameBoard[1][2]}}</div>
    <br>
    <div class="ttt border-right" (click)="updateBoard(2,0)">{{game.gameBoard[2][0]}}</div>
    <div class="ttt" (click)="updateBoard(2,1)">{{game.gameBoard[2][1]}}</div>
    <div class="ttt border-left" (click)="updateBoard(2,2)">{{game.gameBoard[2][2]}}</div>
    <br>
    </div> -->

    <div class="tttGameBoard">
      
    
      <div class="ttt-row">
        <div class="ttt" (click)="updateBoard(0,0)">{{game.gameBoard[0][0]}}</div>
        <div class="ttt" (click)="updateBoard(0,1)">{{game.gameBoard[0][1]}}</div>
        <div class="ttt" (click)="updateBoard(0,2)">{{game.gameBoard[0][2]}}</div>
      </div>
      <div class="ttt-row">
        <div class="ttt" (click)="updateBoard(1,0)">{{game.gameBoard[1][0]}}</div>
        <div class="ttt" (click)="updateBoard(1,1)">{{game.gameBoard[1][1]}}</div>
        <div class="ttt" (click)="updateBoard(1,2)">{{game.gameBoard[1][2]}}</div>
      </div>
      
        <div class="ttt-row">
        <div class="ttt" (click)="updateBoard(2,0)">{{game.gameBoard[2][0]}}</div>
        <div class="ttt" (click)="updateBoard(2,1)">{{game.gameBoard[2][1]}}</div>
        <div class="ttt" (click)="updateBoard(2,2)">{{game.gameBoard[2][2]}}</div>
      </div>
     
        </div>

</div>
<!-- <div class="tttContainer">
  <div class="ttt">
<table id="board">
  <tr>
  <td (click)="updateBoard(0,0)">{{game.gameBoard[0][0]}}</td>
  <td (click)="updateBoard(0,1)">{{game.gameBoard[0][1]}}</td>
  <td (click)="updateBoard(0,2)">{{game.gameBoard[0][2]}}</td>
    </tr>
  <tr>
  <td (click)="updateBoard(1,0)">{{game.gameBoard[1][0]}}</td>
  <td (click)="updateBoard(1,1)">{{game.gameBoard[1][1]}}</td>
  <td (click)="updateBoard(1,2)">{{game.gameBoard[1][2]}}</td>
    </tr>
  <tr>
  <td (click)="updateBoard(2,0)">{{game.gameBoard[2][0]}}</td>
  <td (click)="updateBoard(2,1)">{{game.gameBoard[2][1]}}</td>
  <td (click)="updateBoard(2,2)">{{game.gameBoard[2][2]}}</td>
  </tr>
</table>
</div>
</div> -->
<!-- <app-chat></app-chat> -->